{
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "./scripts/prettier-plugin-markdoc.mjs"
  ],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdoc",
        "proseWrap": "always",
        "printWidth": 120,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
