{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": [
    "./scripts/prettier-plugin-markdoc.ts",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./app/globals.css",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdoc",
        "proseWrap": "always",
        "printWidth": 120,
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
